<!DOCTYPE html>
<html lang='ja'>
<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <%= stylesheet_link_tag "photos", :media => "all" %>
  <%= javascript_include_tag 'photos.js' %>
</head>

<header>
  <h1>TBD</h1>
</header>
<body>
  <ul class="grid">
  <% @DevImg.each do |img| %>
    <li class="img_01_show">
      <figure class="grid__figure">
        <%= image_tag img.path %>
        <figcaption><%= img.name %></figcaption>
      </figure>
    </li>
    <% end %>
  </ul>
<!-- modal -->
<div class="modal-overlay">
  <div class="modal">
    
    <a class="close-modal">
      <svg viewBox="0 0 20 20">
        <path fill="#000000" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
      </svg>
    </a><!-- close modal -->

    <div class="modal-content">
      <ul class="grid">
        <li class="img_01_show">
          <figure class="grid__figure">
            <img src="/assets/picasso.jpg" alt="">
            <figcaption>Pre ArtPortrait</figcaption>
          </figure>
        </li>
        <li>
          <figure class="grid__figure">
            <img src="/assets/katsushika.jpg" alt="">
            <figcaption>Post ArtPortrait</figcaption>
          </figure>
        </li>

      </ul>
      <%= form_for @photo, url: photos_create_path do |f| %>
        <div class="uploadButton">
            Choose your file

            <%= f.file_field :image %>
            <input type="file" id="uv" class="uploadValue" disabled />
        </div>
        <div class="submitButton">
            Submit
            <%= submit_tag 'Send file', data:{confirm: 'Are you sure ?', disable_with: 'Saving...'} %>
            <input type="file" id="uv" class="submitValue" disabled /><div class="clear"></div>
        </div>
      <% end %>

    </div><!-- content -->

  </div><!-- modal -->
</div><!-- overlay -->
</body>